# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
config/settings.yaml

# Jupyter/Streamlit cache
.ipynb_checkpoints
.streamlit/*
!.streamlit/config.toml

# System files
.DS_Store
Thumbs.db
api_calls.log